{% load static %}
<!-- Single project container -->
<div id="slide_{{nr}}" class="snap-start relative min-w-full min-h-screen">
    <img src="{% static bg_img %}" alt="JJL Projekt hero image"
        class="absolute opacity-40 object-cover min-h-screen min-w-screen -z-50">

    <!-- Project text container -->
    <div class="flex flex-col gap-8 min-h-screen justify-end px-9 pb-36 text-prim">
        <h1 class="text-7xl font-medium opacity-30">{{ nr }}</h1>
        <div>
            <h3 class="text-2xl font-medium opacity-75">JJL Entreprenad Koncept</h3>
            <p class="text-bright leading-6 mt-2 max-w-[500px]">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Odit illum eveniet velit pariatur ipsum, doloremque natus tempora alias sequi eligendi
                repudiandae possimus officiis quia vel culpa sapiente sed harum debitis suscipit doloribus
                impedit explicabo. Commodi?</p>
            <div class="flex mt-12 justify-start"><a href="#" class="font-medium text-lg text-prim border border-prim px-4 py-2 rounded-md">Till projekt</a></div>
        </div>
    </div>
</div>