{% load static %}
<!-- Single project container -->
<div class="snap-start relative min-w-[100vw] min-h-screen">
    <img src="{% static bg_img %}" alt="JJL Projekt hero image"
        class="absolute opacity-40 object-cover min-h-screen min-w-screen -z-50">

    <!-- Project text container -->
    <div class="flex flex-col gap-8 min-h-screen justify-end px-9 pb-40 text-prim">
        <h1 class="text-7xl font-medium opacity-30">{{ nr }}</h1>
        <div>
            <h3 class="text-2xl font-bold opacity-75">JJL Entreprenad Koncept</h3>
            <p class="text-bright leading-6 mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Odit illum eveniet velit pariatur ipsum, doloremque natus tempora alias sequi eligendi
                repudiandae possimus officiis quia vel culpa sapiente sed harum debitis suscipit doloribus
                impedit explicabo. Commodi?</p>
            <div class="flex justify-end mt-2"><a href="#" class="font-medium text-lg text-prim">Till projekt</a></div>
        </div>
    </div>
</div>