{% load static %}
<!-- Single project container -->
<div id="slide_{{nr}}" class="snap-start relative min-w-full min-h-screen">
    {% if bg_img_url %}
    <img src="{{ bg_img_url }}" alt="{{project.title}}"
        class="absolute brightness-[50%] object-cover min-h-screen w-screen -z-50">
    {% else %}
        <div class="absolute min-h-full min-w-full bg-prim/10 -z-50"></div>
    {% endif %}

    <!-- Project text container -->
    <div class="flex flex-col gap-8 min-h-screen justify-end px-9 pb-36 text-prim">
        <h1 class="text-7xl font-medium opacity-30">0{{ nr }}</h1>
        <div>
            <h3 class="text-2xl font-medium opacity-75">{{title}}</h3>
            <p class="text-bright leading-6 mt-2 max-w-[500px]">{{desc}}</p>
            {% if web_url == '#' %}
            <div class="flex mt-12 justify-start"><a href="#kontakt" class="font-medium text-lg text-prim border border-prim px-4 py-2 rounded-md hover:bg-white/5">Kontakta mig</a></div>
            {% else %}
            <div class="flex mt-12 justify-start"><a href="{{web_url}}" class="font-medium text-lg text-prim border border-prim px-4 py-2 rounded-md hover:bg-white/5">Till projekt</a></div>
            {% endif %}
        </div>
    </div>
</div>