{% load static %}

<!-- Container for landing page -->
<section id="landing" class="relative w-screen min-h-screen tracking-[0.12rem] overflow-hidden">
    <!-- Background initials -->
    <div class="absolute bottom-24 left-[120px] -z-10 lg:top-36 lg:right-0 lg:left-auto lg:bottom-auto">
        <p class="text-[188px] text-[#222222]/80 -rotate-90 lg:text-[240px] lg:text-[#222222]/25">ARK</p>
    </div>
    <!-- Background image -->
    <img src="{% static 'images/ricky_cropped_480.png' %}" alt="Developer profile image"
        class="absolute bottom-[-30px] left-0 opacity-30 max-w-[300px] bg-cover -z-10 lg:min-w-[600px]">

    <!-- Outer container for margin -->
    <div class="relative p-8 md:px-24">
        <!-- Small ARK text and upper right corner -->
        <div class="absolute right-0 mr-8 md:mr-12 flex flex-row justify-end gap-6">
            <p class="mt-[-4px] uppercase text-[8px] text-prim/40 font-medium tracking-[0.2rem] lg:tracking-[0.3rem]">
                ark - webb och mjukvara
            </p>
            <!-- Upper right corner -->
            <div class="w-[5rem] h-[5rem] border-t-2 border-r-2 border-prim"></div>
        </div>

        <!-- Container for text and buttons on small screens -->
        <div class="relative flex flex-col my-12 justify-center gap-8 lg:hidden">
            <div class="mt-8">
                <p class="uppercase text-prim opacity-75">jag utvecklar</p>
                <h1 class="uppercase font-medium text-3xl">skräddarsydda<br>hemsidor av<br>hög kvalité</h1>
            </div>

            <div class="flex gap-4">
                <!-- Vertical line -->
                <svg width="4" height="90">
                    <path d="m1 0 v90" class="stroke-2 stroke-prim" fill="none" stroke-linecap="round"></path>
                </svg>
                <!-- Container for topic texts -->
                <div class="flex flex-col uppercase text-sm justify-around gap-1">
                    <p>responsiv design</p>
                    <p>databashantering</p>
                    <p>skräddarsydd</p>
                </div>

            </div>
            <!-- CTA buttons-->
            <div class="flex flex-col max-w-[200px] gap-3 mt-8 ml-auto mr-0">
                <a href="#kontakt"><button
                        class="py-3 px-6 text-left tracking-[0.1rem] uppercase font-medium rounded-[5px] text-bg bg-prim ">kontakta
                        mig</button></a>
                <a href="#projekt"><button
                        class="py-3 px-6 text-left tracking-[0.1rem] uppercase font-medium rounded-[5px] text-prim bg-bg border-2 border-prim">projekt</button></a>
            </div>
        </div>
        <!-- Container for content on desktop -->
        <div class="flex justify-center pl-32">
            <div class="hidden lg:grid auto-cols-min auto-rows-min">
                <!-- Header text -->
                <div class="mt-16 col-start-1 col-span-2">
                    <p class="uppercase text-prim opacity-75 lg:text-3xl">jag utvecklar</p>
                    <h1 class="uppercase font-medium text-3xl lg:text-5xl lg:tracking-wider lg:leading-[54px] lg:mt-2">
                        skräddarsydda<br>hemsidor av<br>hög kvalité</h1>
                </div>

                <div class="flex gap-4 mt-6">
                    <!-- Vertical line -->
                    <svg width="4" height="90">
                        <path d="m1 0 v90" class="stroke-2 stroke-prim" fill="none" stroke-linecap="round"></path>
                    </svg>
                    <!-- Container for topic texts -->
                    <div class="flex flex-col uppercase text-sm justify-around gap-1 lg:tracking-[0.20rem] min-w-[300px]">
                        <p>responsiv design</p>
                        <p>databashantering</p>
                        <p>skräddarsydd</p>
                    </div>
                </div>

                <!-- Bottom left corner -->
                <div class="mb-0 mt-auto col-start-1 row-start-3 max-w-[75px] min-h-[75px] border-l border-b border-prim"></div>

                <!-- Topic description -->
                <div class="flex flex-col gap-4 max-w-[450px] col-start-2 row-start-3 mt-8">
                    <p class="uppercase text-xl tracking-[0.2rem]">Responsiv design</p>
                    <p class="text-gray-500 leading-5 min-w-[400px]">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                        massa
                        mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
                        consectetur,
                        ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor
                        ornare
                        leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante.</p>

                </div>

                <!-- CTA buttons-->
                <div class="flex gap-3 mt-8 col-start-2 row-start-4">
                    <a href="#kontakt"><button
                            class="py-3 px-6 text-left tracking-[0.1rem] uppercase font-medium rounded-[5px] text-bg bg-prim ">kontakta
                            mig</button></a>
                    <a href="#projekt"><button
                            class="py-3 px-6 text-left tracking-[0.1rem] uppercase font-medium rounded-[5px] text-prim bg-bg border-2 border-prim">projekt</button></a>
                </div>
            </div>
        </div>
    </div>

</section>