{% load static %}

<!-- Container for landing page -->
<section id="projekt" class="snap-start min-h-screen overflow-y-hidden" x-data="{proj_idx: 0, slider_offset: 0}">
    <div class="flex justify-center items-end mx-auto gap-20">
        <div class="relative lg:max-w-[800px] min-h-screen">
            <!-- Fixed title and slider -->
            <div class="absolute min-w-full min-h-screen flex flex-col px-9">
                <!-- Fixed page title -->
                <h2>referenser</h2>
                <!-- Project slider -->
                <div class="flex flex-col min-w-full mb-24">
                    <div class="relative my-2">
                        <div class="absolute top-0 border-t-2 border-prim w-[20%] transition-[left] ease-in-out duration-300"
                            :style="{left: slider_offset + '%'}"></div>
                        <div class="absolute top-0 border-t-2 border-prim w-[100%] opacity-25"></div>
                    </div>
                    <div class="flex justify-between text-gray-300 text-sm font-light">
                        <p>0<span x-text="proj_idx + 1"></span> / 05</p>
                        <p>Scroll</p>
                    </div>
                </div>
            </div>

            <!-- Multi project container -->
            <div class="max-w-screen lg:max-w-[800px]">
                <div id="project-scroller"
                    class="flex overflow-x-scroll lg:overflow-x-hidden overflow-y-hidden snap-proximity snap-x"
                    @scroll.throttle.50ms="proj_idx = Math.floor($event.target.scrollLeft / window.innerWidth + 0.5); slider_offset = proj_idx * 20;">
                    {% include 'components/projekt.html' with nr="01" bg_img="images/pr_hero_jjl.jpg" only %}
                    {% include 'components/projekt.html' with nr="02" bg_img="images/pr_hero_ex.jpg" only %}
                </div>
            </div>
        </div>
        <!-- Navigation arrows for desktop -->
        <div class="hidden lg:flex mb-20 mr-10 gap-10">
            <button class="uppercase text-[3rem] text-prim/80">🡰</button>
            <button class="uppercase text-[3rem] text-prim/80">🡲</button>
        </div>
    </div>

</section>