<!-- Main container for section -->
<section id="tjänster" class="min-h-screen w-screen">
    <!-- Container for margin/padding -->
    <div class="px-9 lg:mr-48">
        <h2>tjänster</h2>
        <!-- Grid for services description-->
        <div class="mt-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
            {% include 'components/tjänst.html' with title='skräddarsydda webbapplikationer' desc='Vi bygger din hemsida från grunden. Detta gör att vi kan ge dig precis det utseende och den upplevelse som du önskar. Oavsett hemsidans syfte så kan du alltid förvänta dig en snabb och följsam upplevelse och en känsla som är anpassat efter just dig och dina kunders behov.' %}
            {% include 'components/tjänst.html' with title='databashantering' desc='Att koppla en databas till din hemsida ger dig flexibilitet som möjliggör att innehållet på din hemsida kan uppdateras live, precis när du önskar. Vi tillhandahåller ett enkelt användarinterface så att du som kund får full kontroll över den databas som ligger till grund för vad som visas på din hemsida.' %}
            {% include 'components/tjänst.html' with title='responsiv design' desc='Med responsiv design menas en hemsida som är anpassad att fungera väl oavsett vilket enhet och skärmstorlek dina kunder använder sig av. I dagens samhälle går majoriteten av webbtrafik via handhållna enheter. Hos oss får du alltid en responsiv design som ger dina användare en smidig upplevelse.' %}
        </div>
    </div>
</section>