<!-- Main container for section -->
<section id="tjänster" class="min-h-screen w-screen pb-16">
    <!-- Container for margin/padding -->
    <div class="px-9 lg:ml-14 lg:mr-48">
        <h2 class="lg:mt-8">tjänster</h2>
        <!-- Grid for services description-->
        <div class="mt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 lg:gap-10">
            {% include 'components/tjänst.html' with title='skräddarsydda webbapplikationer' desc='Jag bygger er hemsida helt från grunden. Detta gör att ni får precis det utseende och den upplevelse som ni önskar. Oavsett hemsidans komplexitet så kan ni alltid förvänta er en snabb och följsam upplevelse och en känsla som är anpassat efter just er och era kunders behov.' %}
            {% include 'components/tjänst.html' with title='databashantering' desc='Att koppla en databas till er hemsida skapar en flexibilitet som gör att innehållet på hemsidan kan uppdateras precis när ni önskar. Jag tillhandahåller ett enkelt, användarvänligt gränssnitt som ger er full kontroll över den databas som ligger till grund för innehållet på din hemsida.' %}
            {% include 'components/tjänst.html' with title='responsiv design' desc='En hemsida med responsiv design anpassar sitt utseende efter användarens skärmstorlek. I dagens samhälle går majoriteten av webbtrafik via handhållna enheter med mindre skärmar vilket gör detta direkt nödvändigt. Hemsidorna som utvecklas av mig är alltid 100% responsiva.' %}
            {% include 'components/tjänst.html' with title='användarkonton' desc='Det är vanligt att delar av en hemsida endast bör vara tillgänglig för registrerade användare. Man kan även vilja skilja på olika typer av konton såsom administratör, personal och kundkonton. Med mina lösningar finns alltid möjlighet att få stöd för denna typ av kontohantering.' %}
            {% include 'components/tjänst.html' with title='övriga tjänster' desc='Ta gärna kontakt om ni har andra önskemål inom området mjukvaruutveckling. Exempel på sådana önskemål kan vara automatisering av datahantering, verktyg för filkonvertering, webbapplikationer för schemaläggning med mera.' %}
        </div>
    </div>
</section>